Source: npm
Section: javascript
Priority: optional
Maintainer: Zijung Chueh <i@zijung.me>
Build-Depends:
 autotools-dev,
 bash-completion,
 debhelper (>= 11),
 node-gyp,
 node-marked-man,
 node-semver,
 nodejs,
Standards-Version: 4.1.3
Homepage: https://npm.community/
Vcs-Browser: https://github.com/zijung-debian-repo/npm
Vcs-Git: https://github.com/zijung-debian-repo/npm.git

Package: npm
Architecture: any
Depends:
 node-gyp,
 node-semver,
 nodejs,
 ${misc:Depends},
 ${shlibs:Depends},
Description: package manager for Node.js
 Node.js is an event-based server-side javascript engine.
 .
 npm is the package manager for the Node JavaScript platform.  It puts
 modules in place so that node can find them, and manages dependency
 conflicts intelligently.
 .
 It is extremely configurable to support a wide variety of use cases.
 Most commonly, it is used to publish, discover, install, and develop
 node programs.
